*{
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    hyphens: auto;
}
:root{
    --theme: rgb(197, 206, 202);
    --hover: rgba(80, 77, 77, 0.3);
    --background_outside: rgb(51, 49, 49);
    --background_inside: rgb(248, 246, 246);
    --font_color: rgb(0,0,0);
    --blue: rgb(15,48,81);
    --green: rgb(111, 148, 68);
}
html{
    display: flex;
    justify-content: center;
    scroll-padding-top: 225px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    min-width: 360px;
    color: var(--font_color);
    background-color: var(--background_outside);
}
body{
    max-width: 1000px;
    width: 100%;
    background-color: var(--background_inside);
}
header{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: 130px;
    background-color: var(--background_inside);
}
header a {
    max-width: 50%;
    display: block;
    padding: 20px;
}
header a img {
    width: 100%;
    height: auto;
}
#hamburgerContainer{
    position: relative;
    width: 30px;
    height: 30px;
    padding: 10px;
    margin-right: 7%;
    cursor: pointer;
    z-index: 100;
}
#hamburger {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: var(--blue);
    transform: translate(-50%, -50%);
}
#hamburger::before, #hamburger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--blue);
    transform-origin: center;
    transition: transform 0.3s ease, top 0.3s ease;
}
#hamburger::before { 
    top: -10px; 
}
#hamburger::after { 
    top: 10px; 
}
#hamburger.active {
    background-color: transparent;
}
#hamburger.active::before {
    top: 0;
    transform: rotate(45deg);
}
#hamburger.active::after {
    top: 0;
    transform: rotate(-45deg);
}
#menuContainer{
    position: fixed;
    display: none;
    justify-content: center;
    align-content: center;
    text-align: center;
    top: 130px;
    max-width: 1000px;
    width: 100%;
    height: calc(100% - 180px);
    border-top: 1px solid var(--blue);
    font-size: 25px;   
    background-color: var(--background_inside);
    z-index: 1;
}
#menuContainer ul{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
    padding: 0;
}
#menuContainer a:hover{
    color: var(--hover);
}
nav{
    position: sticky;
    text-align: center;
    top: 130px;
    background-color: var(--theme);
    font-size: small;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    overflow-x: auto;
}
nav li{
    align-content: center;
    width: 100%;
    min-width: calc(100% / 8.2);
    padding: 5px;
    border-left: 1px solid var(--blue);
}
nav li:first-child{
    border: none;
}
nav a{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    color: var(--font_color);
    cursor: pointer;
}
a{
    text-decoration: none;
    color: var(--font_color);
}
nav li:hover{
    background-color: var(--hover);
}
main{
    display: none;
    justify-content: center;
}
main.active{
    display: flex;
}
section{
    display: flex;
    justify-self: center;
    box-sizing: border-box;
    cursor: pointer;

}
section div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px;
    padding: 20px;
    width: 100%;
    box-shadow: 3px 3px 3px 3px var(--theme);
    border-radius: 30px;
}
section h2, section div img{
    display: flex;
    justify-content: center;
    text-align: center;
}
section:last-child{
    margin-bottom: 40px;
}
footer{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    bottom: 0;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: var(--theme);
}
@media(max-width: 650px){
    nav li{
        min-width: 33%;
    }
    #nav ul::-webkit-scrollbar {
        height: 7px;
    }
    #nav ul::-webkit-scrollbar-track {
        background: var(--background_inside);
        border-radius: 4px;
    }
    #nav ul::-webkit-scrollbar-thumb {
        background-color: var(--blue);
        border-radius: 4px;
    }
}