*{
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
}
:root{
    --theme: rgb(197, 206, 202);
    --hover: rgba(80, 77, 77, 0.2);
    --background_outside: rgb(51, 49, 49);
    --background_inside: rgb(248, 246, 246);
    --font_color: rgb(0,0,0);
    --blue: rgb(15,48,81);
    --green: rgb(111, 148, 68);
}
html{
    scroll-padding-top: 84px;
    color: var(--font_color);
    background-color: var(--background_outside);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-width: 360px;
    scroll-behavior: smooth;
}
body{
    max-width: 1000px;
    width: 100%;
    background-color: var(--background_inside);
}
#logo{
    max-width: 50%;
    width: 300px;
    padding: 20px;
}
header{
    display: flex;
    height: fit-content;
    background-color: var(--background_inside);
    justify-content: space-between;
    align-items: center;
}
header li{
    list-style: none;
}
header div{
    padding: 20px;
    text-align: right;
}
nav{
    position: sticky;
    top: 0px;
    background-color: var(--theme);
    text-align: center;
    font-size: small;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}
nav li{
    align-content: center;
    width: 100%;
    min-width: calc(100% / 8.2);
    padding: 5px;
    border-left: 1px solid var(--blue);
}
nav li:first-child{
    border: none;
}
nav a{
    text-decoration: none;
    color: var(--font_color);
    width: 100%;
    cursor: pointer;
    display: inline-block;
}
nav li:hover{
    background-color: var(--hover);
}
main{
    display: flex;
    justify-content: center;
}
section{
    display: flex;
    justify-self: center;
    cursor: pointer;
    box-sizing: border-box;
}
section div{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 3px 3px var(--theme);
    width: 100%;
    border-radius: 30px;
    margin: 20px;
    gap: 20px;
}

section h2, section div img{
    display: flex;
    justify-content: center;
    text-align: center;
}
section:last-child{
    margin-bottom: 40px;
}
footer{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    bottom: 0;
    height: 50px;
    background-color: var(--theme);
    box-sizing: border-box;
}
@media(max-width: 650px){
    nav li{
        min-width: 33%;
    }
}